* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box !important;
}


.web-nav {
    height: 92px;
    width: 100%;

    .web-nav__row {
        justify-content: space-between;
        height: 100%;


        .web-nav__row__log-col {
            display: flex;
            align-items: center;
            padding: 0;

            .web-nav__row__log-col__domino-logo {
                width: 255px;
                height: 55px;


                img {

                    width: 100%;

                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        .web-nav__row__icon-col {
            align-items: center;
            padding: 0;

            .web-nav__row__icon-col__icons {
                height: 100%;


                &__ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    align-items: center;

                    justify-content: space-around;

                    li {
                        list-style: none;
                        // padding: 12px;

                        a {
                            span {
                                font-size: 12px;
                            }

                            img {
                                width: 35px;
                                height: 35px;
                            }

                            color: #61616161;

                        }
                    }
                }
            }


        }
    }


    .web-nav__burger {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        @media (min-width:576px) {
            display: none;
        }

        .hamburger {


            i {
                color: red;
                text-align: center
            }
        }
    }

    #hamburgerDrop {
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        z-index: 9;
        border: 1px solid #c8c8c8;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
        transform: translateX(-100rem);

        #x-burger {
            display: flex;
            justify-content: end;
            padding: 20px;

            i {
                font-weight: 600;
                font-size: larger;

            }
        }

        .hamburgerProfil {
            transition: width 2s;

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

            }

            p {
                text-align: center;
                color: #3333;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;

            }

            .btn {
                display: flex;
                justify-content: center;

                button {
                    background-color: #0078AC;
                    display: flex;
                    align-items: center;
                    padding: 2px 25px;
                    border-radius: 5px;
                    border: none;
                    letter-spacing: 0rem;
                    justify-content: center;


                    p {
                        margin: 0;
                        color: #fff;
                        font-weight: 500;
                        font-family: 'Anton', sans-serif;
                        font-size: 20px;
                        letter-spacing: 0rem;
                    }
                }
            }

            hr {
                margin-top: 1rem;
                margin-bottom: 1rem;
                border: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

        }

        .hamburgerLanguage {
            .languages {
                display: flex;

                li {
                    padding: 12px;


                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }

        .hamburgerOptions {
            .hamburgerList {

                a {
                    display: block;

                    img {
                        width: 27px;
                        height: 25px;
                    }

                    span {
                        display: inline;
                        color: rgb(97, 97, 97);

                    }
                }
            }
        }

        .hamburgerSocial {
            display: flex;

            .social {
                display: inline;

                a {
                    img {
                        height: 30px;
                        width: 30px;
                    }

                }
            }


            .call {
                transform: translateX(6rem);

                img {
                    width: 70px;
                    height: 30px;
                }
            }
        }

        .hamburgerInfo {
            a {
                padding: 10px;
                display: block;

                span {
                    font-size: 14px;
                    font-family: "Open Sans", "Helvetica Neue", sans-serif;
                    color: rgb(97, 97, 97);

                }
            }

        }







    }



    @media screen and (max-width:576px) {
        .nav-icon {
            display: none;
        }


    }



    @media screen and (max-width: 768px) {
        .log-col {
            .web-nav__row__log-col__domino-logo {
                img {
                    width: 155px;
                    height: 35px;
                }
            }
        }

    }

}

.food-navbar-section {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;


    @media screen and (max-width:567px) {
        display: none;
    }

    .food-navbar-section__nav {
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;

        .row {
            width: 100%;


            .domino-col {
                .domino {

                    a {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            .food-col {
                overflow-x: auto !important;


                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        padding: 0 25px;

                        a {
                            img {
                                height: 38px;
                            }
                        }

                        p {
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            color: #7A7A7A;
                        }
                    }
                }
            }

            .basket-col {
                display: flex;
                justify-content: flex-end;

                a {
                    img {
                        width: 35px;
                        height: 35px;
                    }

                    color: #7A7A7A;

                }


            }
        }

        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    }



    .pizza-filter {
        margin-top: 1rem;

        .container {
            border-radius: 5px;
            overflow: auto;

            .navspy {
                padding: 0;

                .nav-pills {

                    .nav-item {

                        .nav-link {
                            color: #d2112c;
                            font-size: 20px;
                            font-family: "Open Sans", "Helvetica Neue", sans-serif;
                            font-weight: bold;
                            margin: 0;
                            font-weight: bold;
                            opacity: 0.5;
                        }

                        .active {
                            opacity: 1;
                            background-color: unset;
                        }
                    }
                }
            }

            // .pizzas {


            //     display: flex;
            //     justify-content: center;
            //     align-items: center;

            //     .pizza {
            //         overflow: hidden;
            //         white-space: nowrap;
            //         padding: 0 12px;
            //         border-radius: 50px;
            //         background: white;

            //         span {

            //             text-overflow: ellipsis;
            //             color: #d2112c;
            //             font-size: 20px;
            //             font-family: "Open Sans", "Helvetica Neue", sans-serif;
            //             font-weight: bold;

            //         }
            //     }
            // }
        }
    }


    @media screen and (max-width:768px) {
        .domino-col {
            display: none;
        }

        .basket-col {
            display: none !important;
        }
    }
}


.pizza-cards {

    margin-top: 20px;
    padding: 10px 30px;


    .pizza-kind {
        margin-top: 20px;

        .row {
            align-items: stretch;

            // flex-wrap: nowrap;
            // margin: 0;
            .card-col {
                .PizzaCard {
                    position: relative;
                    background-color: #fff;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    z-index: 9;
                    margin-bottom: 10px;
                    height: auto;

                    .card-img {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .fav-icon {
                        position: absolute;
                        top: 5px;
                        right: 10px;

                        i {
                            font-size: 30px;
                            color: #8d8d8d;

                        }
                    }

                    .card-info {
                        padding: 16px 20px 20px 16px;
                        width: 100%;
                        height: 100%;

                        .card-details {
                            margin-bottom: 4px;

                            h2 {
                                font-size: 22px;
                                font-family: 'Antonio', sans-serif !important;
                                font-weight: bold;
                                letter-spacing: -1px;
                                color: #003752;
                            }

                            p {
                                span {
                                    overflow: hidden;
                                    color: #616161;
                                    font-size: 17px;
                                    text-align: left;
                                    font-family: "Open Sans", sans-serif !important;
                                }

                            }
                        }

                        .card-price {


                            span {
                                color: #08789e;
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }

                        span {
                            color: #8d8d8d;
                            font-size: 14px;
                            text-align: left;
                            font-family: "Open Sans", sans-serif !important;

                        }
                    }
                }
            }

            @media screen and (max-width:768px) {

                flex-wrap: wrap !important;
                margin: 0 !important;


            }

            @media screen and (max-width:68px) {

                flex-wrap: wrap !important;
                margin: 0 !important;


            }


        }
    }


}

.modal-dialog {
    max-width: 1000px;

    .modal-header {
        display: none;
    }

    .modal-footer {
        display: none;
    }
}

.pizza-size {
    width: 960px;
    height: 590px;

    .row {

        .img-col {
            // position: relative;

            .pizza-img {
                // position: absolute;
                // object-fit: contain;

            }

        }

        .info-col {
            // position: relative;
            background-color: white;
            padding: 0;
            padding-left: 10px;



            .pizza-info {
                // position: relative;
                height: 500px;
                overflow-y: scroll;

                .title {
                    p {
                        color: #585858;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .fav-icon {
                    // position: absolute;
                    display: flex;
                    justify-content: space-between;

                    i {
                        font-size: 35px;
                        color: #d3d3d3;
                    }
                }

                .pizza-head {
                    background-color: white;
                    position: sticky;
                    top: 0;
                    z-index: 99;

                    h1 {}

                    p {}

                    .pizza-quantity {
                        display: flex;
                        justify-content: space-between;

                        .increase-btn {
                            form {
                                display: flex;
                                align-items: center;

                                padding: 0;

                                .value-button {
                                    display: inline-block;
                                    border: none;
                                    margin: 0px;
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    vertical-align: middle;
                                    padding: px 0;
                                    background: red;

                                }

                                .value-button:hover {
                                    cursor: pointer;
                                }

                                form #decrease {
                                    margin-right: -4px;
                                    border-radius: 7px 0 0 8px;
                                }

                                form #increase {
                                    margin-left: -5px;
                                    border-radius: 0 8px 8px 0;
                                }

                                form #input-wrap {
                                    margin: 0px;
                                    padding: 0px;
                                }

                                input#number {
                                    text-align: center;
                                    border: none;
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    margin: 0px;
                                    width: 40px;
                                    height: 42px;
                                }


                            }
                        }


                        .price {
                            display: flex;
                            justify-content: center;

                            span {
                                text-align: center;
                            }
                        }





                    }



                }

            }



        }
    }

    .choose-size {

        display: flex;

        span {}

        .small-pizza {
            margin-right: 10px;
            display: flex;
            background-color: #f8f8f8;
            padding: 15px;
            width: 180px;
            border-radius: 10px;

            .sm-img {
                margin-right: 5px;
                width: 38px;
                height: 38px;

                img {
                    width: 100%;
                    filter: grayscale(100%)
                }
            }

            .sm-price {
                h2 {
                    margin-bottom: 0 !important;
                    font-size: 14px;
                    color: #585858;
                    font-weight: bold;
                    font-family: "Open Sans", sans-serif !important;

                }

                h3 {
                    font-size: 12px;
                    color: #686868;
                    background-color: #efefefef;
                }
            }
        }
    }


    .choose-pasty {
        display: flex;

        .classic-pasty {
            background-image: url(https://s3.eu-west-3.amazonaws.com/ppost/Classic-Crust.png);
            background-repeat: no-repeat;
            background-position: center -30px;
            background-size: cover;
            border: 1px solid #f2f2f2;
            color: black;
            border-radius: 10px;
            margin-left: 10px;
            height: 5em;
            width: 161px;
            text-transform: capitalize;
            position: relative;

            .pasty-img {
                position: absolute;
                top: 0;
                right: 0;
            }

            .title {
                padding-left: 5px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .choose-ingrident {
        h1 {
            font-size: 20px;
            font-weight: bold;
        }

        .accordion {


            .accordion-item {
                border: none !important;
                border-bottom: 1px solid #e3e3e3 !important;

                .accordion-header {
                    .accordion-button {
                        color: #585858;
                        font-weight: 700;
                        box-shadow: none;
                        border: none !important;
                        background-color: white;

                    }

                    h2 {
                        position: relative;

                        i {
                            border-radius: 50%;
                            padding: 3px;
                            color: #585858;
                            background-color: #d3d3d3;
                            position: absolute;
                            right: 0;

                        }

                        .iactive {
                            transform: rotateZ(180deg);
                        }
                    }
                }

                .accordion-collapse {
                    .bodyWrapper {
                        display: flex;

                        .accordion-body {

                            .form-check {

                                .form-check-input {
                                    color: red;
                                    border-color: red;
                                }

                                .form-check-input:checked {
                                    background-color: red;
                                }

                                .form-check-label::before {
                                    background-color: green !important;
                                }

                                .form-check-label {
                                    color: #616161
                                }
                            }
                        }
                    }

                }
            }

        }
    }
}