* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box !important;
}

.web-nav {
  height: 92px;
  width: 100%;
}
.web-nav .web-nav__row {
  justify-content: space-between;
  height: 100%;
}
.web-nav .web-nav__row .web-nav__row__log-col {
  display: flex;
  align-items: center;
  padding: 0;
}
.web-nav .web-nav__row .web-nav__row__log-col .web-nav__row__log-col__domino-logo {
  width: 255px;
  height: 55px;
}
.web-nav .web-nav__row .web-nav__row__log-col .web-nav__row__log-col__domino-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.web-nav .web-nav__row .web-nav__row__icon-col {
  align-items: center;
  padding: 0;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons {
  height: 100%;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li {
  list-style: none;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a {
  color: rgba(97, 97, 97, 0.3803921569);
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a span {
  font-size: 12px;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a img {
  width: 35px;
  height: 35px;
}
.web-nav .web-nav__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media (min-width: 576px) {
  .web-nav .web-nav__burger {
    display: none;
  }
}
.web-nav .web-nav__burger .hamburger i {
  color: red;
  text-align: center;
}
.web-nav #hamburgerDrop {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  z-index: 9;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  transform: translateX(-100rem);
}
.web-nav #hamburgerDrop #x-burger {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.web-nav #hamburgerDrop #x-burger i {
  font-weight: 600;
  font-size: larger;
}
.web-nav #hamburgerDrop .hamburgerProfil {
  transition: width 2s;
}
.web-nav #hamburgerDrop .hamburgerProfil .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.web-nav #hamburgerDrop .hamburgerProfil .img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.web-nav #hamburgerDrop .hamburgerProfil p {
  text-align: center;
  color: rgba(51, 51, 51, 0.2);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn {
  display: flex;
  justify-content: center;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn button {
  background-color: #0078AC;
  display: flex;
  align-items: center;
  padding: 2px 25px;
  border-radius: 5px;
  border: none;
  letter-spacing: 0rem;
  justify-content: center;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn button p {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  letter-spacing: 0rem;
}
.web-nav #hamburgerDrop .hamburgerProfil hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages {
  display: flex;
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages li {
  padding: 12px;
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages li img {
  height: 30px;
  width: 30px;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a {
  display: block;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a img {
  width: 27px;
  height: 25px;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a span {
  display: inline;
  color: rgb(97, 97, 97);
}
.web-nav #hamburgerDrop .hamburgerSocial {
  display: flex;
}
.web-nav #hamburgerDrop .hamburgerSocial .social {
  display: inline;
}
.web-nav #hamburgerDrop .hamburgerSocial .social a img {
  height: 30px;
  width: 30px;
}
.web-nav #hamburgerDrop .hamburgerSocial .call {
  transform: translateX(6rem);
}
.web-nav #hamburgerDrop .hamburgerSocial .call img {
  width: 70px;
  height: 30px;
}
.web-nav #hamburgerDrop .hamburgerInfo a {
  padding: 10px;
  display: block;
}
.web-nav #hamburgerDrop .hamburgerInfo a span {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(97, 97, 97);
}
@media screen and (max-width: 576px) {
  .web-nav .nav-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .web-nav .log-col .web-nav__row__log-col__domino-logo img {
    width: 155px;
    height: 35px;
  }
}

.food-navbar-section {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 567px) {
  .food-navbar-section {
    display: none;
  }
}
.food-navbar-section .food-navbar-section__nav {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.food-navbar-section .food-navbar-section__nav .row {
  width: 100%;
}
.food-navbar-section .food-navbar-section__nav .row .domino-col .domino a img {
  width: 60px;
  height: 60px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col {
  overflow-x: auto !important;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul {
  display: flex;
  justify-content: space-between;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li {
  padding: 0 25px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li a img {
  height: 38px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #7A7A7A;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col {
  display: flex;
  justify-content: flex-end;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col a {
  color: #7A7A7A;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col a img {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 768px) {
  .food-navbar-section .domino-col {
    display: none;
  }
  .food-navbar-section .basket-col {
    display: none !important;
  }
}/*# sourceMappingURL=header.css.map */