* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box !important;
}

.web-nav {
  height: 92px;
  width: 100%;
}
.web-nav .web-nav__row {
  justify-content: space-between;
  height: 100%;
}
.web-nav .web-nav__row .web-nav__row__log-col {
  display: flex;
  align-items: center;
  padding: 0;
}
.web-nav .web-nav__row .web-nav__row__log-col .web-nav__row__log-col__domino-logo {
  width: 255px;
  height: 55px;
}
.web-nav .web-nav__row .web-nav__row__log-col .web-nav__row__log-col__domino-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.web-nav .web-nav__row .web-nav__row__icon-col {
  align-items: center;
  padding: 0;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons {
  height: 100%;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li {
  list-style: none;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a {
  color: rgba(97, 97, 97, 0.3803921569);
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a span {
  font-size: 12px;
}
.web-nav .web-nav__row .web-nav__row__icon-col .web-nav__row__icon-col__icons__ul li a img {
  width: 35px;
  height: 35px;
}
.web-nav .web-nav__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media (min-width: 576px) {
  .web-nav .web-nav__burger {
    display: none;
  }
}
.web-nav .web-nav__burger .hamburger i {
  color: red;
  text-align: center;
}
.web-nav #hamburgerDrop {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  z-index: 9;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  transform: translateX(-100rem);
}
.web-nav #hamburgerDrop #x-burger {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.web-nav #hamburgerDrop #x-burger i {
  font-weight: 600;
  font-size: larger;
}
.web-nav #hamburgerDrop .hamburgerProfil {
  transition: width 2s;
}
.web-nav #hamburgerDrop .hamburgerProfil .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.web-nav #hamburgerDrop .hamburgerProfil .img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.web-nav #hamburgerDrop .hamburgerProfil p {
  text-align: center;
  color: rgba(51, 51, 51, 0.2);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn {
  display: flex;
  justify-content: center;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn button {
  background-color: #0078AC;
  display: flex;
  align-items: center;
  padding: 2px 25px;
  border-radius: 5px;
  border: none;
  letter-spacing: 0rem;
  justify-content: center;
}
.web-nav #hamburgerDrop .hamburgerProfil .btn button p {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  letter-spacing: 0rem;
}
.web-nav #hamburgerDrop .hamburgerProfil hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages {
  display: flex;
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages li {
  padding: 12px;
}
.web-nav #hamburgerDrop .hamburgerLanguage .languages li img {
  height: 30px;
  width: 30px;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a {
  display: block;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a img {
  width: 27px;
  height: 25px;
}
.web-nav #hamburgerDrop .hamburgerOptions .hamburgerList a span {
  display: inline;
  color: rgb(97, 97, 97);
}
.web-nav #hamburgerDrop .hamburgerSocial {
  display: flex;
}
.web-nav #hamburgerDrop .hamburgerSocial .social {
  display: inline;
}
.web-nav #hamburgerDrop .hamburgerSocial .social a img {
  height: 30px;
  width: 30px;
}
.web-nav #hamburgerDrop .hamburgerSocial .call {
  transform: translateX(6rem);
}
.web-nav #hamburgerDrop .hamburgerSocial .call img {
  width: 70px;
  height: 30px;
}
.web-nav #hamburgerDrop .hamburgerInfo a {
  padding: 10px;
  display: block;
}
.web-nav #hamburgerDrop .hamburgerInfo a span {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(97, 97, 97);
}
@media screen and (max-width: 576px) {
  .web-nav .nav-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .web-nav .log-col .web-nav__row__log-col__domino-logo img {
    width: 155px;
    height: 35px;
  }
}

.food-navbar-section {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 567px) {
  .food-navbar-section {
    display: none;
  }
}
.food-navbar-section .food-navbar-section__nav {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.food-navbar-section .food-navbar-section__nav .row {
  width: 100%;
}
.food-navbar-section .food-navbar-section__nav .row .domino-col .domino a img {
  width: 60px;
  height: 60px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col {
  overflow-x: auto !important;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul {
  display: flex;
  justify-content: space-between;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li {
  padding: 0 25px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li a img {
  height: 38px;
}
.food-navbar-section .food-navbar-section__nav .row .food-col ul li p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #7A7A7A;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col {
  display: flex;
  justify-content: flex-end;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col a {
  color: #7A7A7A;
}
.food-navbar-section .food-navbar-section__nav .row .basket-col a img {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 768px) {
  .food-navbar-section .domino-col {
    display: none;
  }
  .food-navbar-section .basket-col {
    display: none !important;
  }
}

.pizza-filter {
  margin-top: 1rem;
  background-color: white;
}
.pizza-filter .container {
  border-radius: 5px;
  overflow: auto;
}
.pizza-filter .container .pizzas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza-filter .container .pizzas .pizza {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 12px;
  border-radius: 50px;
  background: white;
}
.pizza-filter .container .pizzas .pizza span {
  text-overflow: ellipsis;
  color: #d2112c;
  font-size: 20px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.pizza-cards {
  margin-top: 20px;
  padding: 10px 30px;
}
.pizza-cards .pizza-kind {
  margin-top: 20px;
}
.pizza-cards .pizza-kind .row {
  align-items: stretch;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 9;
  margin-bottom: 10px;
  height: auto;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-img {
  width: 100%;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-img img {
  width: 100%;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .fav-icon {
  position: absolute;
  top: 5px;
  right: 10px;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .fav-icon i {
  font-size: 30px;
  color: #8d8d8d;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info {
  padding: 16px 20px 20px 16px;
  width: 100%;
  height: 100%;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info .card-details {
  margin-bottom: 4px;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info .card-details h2 {
  font-size: 22px;
  font-family: "Antonio", sans-serif !important;
  font-weight: bold;
  letter-spacing: -1px;
  color: #003752;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info .card-details p span {
  overflow: hidden;
  color: #616161;
  font-size: 17px;
  text-align: left;
  font-family: "Open Sans", sans-serif !important;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info .card-price span {
  color: #08789e;
  font-size: 24px;
  font-weight: bold;
}
.pizza-cards .pizza-kind .row .card-col .PizzaCard .card-info span {
  color: #8d8d8d;
  font-size: 14px;
  text-align: left;
  font-family: "Open Sans", sans-serif !important;
}
@media screen and (max-width: 768px) {
  .pizza-cards .pizza-kind .row {
    flex-wrap: wrap !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 68px) {
  .pizza-cards .pizza-kind .row {
    flex-wrap: wrap !important;
    margin: 0 !important;
  }
}

.pizza-size {
  width: 960px;
  height: 590px;
}
.pizza-size .row .img-col {
  position: relative;
}
.pizza-size .row .img-col .pizza-img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
.pizza-size .row .info-col {
  position: relative;
  border: 1px solid black;
  background-color: white;
  padding: 0;
  padding-left: 10px;
}
.pizza-size .row .info-col .pizza-info {
  position: relative;
  height: 900px;
}
.pizza-size .row .info-col .pizza-info .title p {
  color: #585858;
  font-size: 16px;
  font-weight: bold;
}
.pizza-size .row .info-col .pizza-info .fav-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.pizza-size .row .info-col .pizza-info .fav-icon i {
  font-size: 35px;
  color: #d3d3d3;
}
.pizza-size .row .info-col .pizza-info .pizza-head {
  background-color: #d2112c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity {
  display: flex;
  justify-content: space-between;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form {
  display: flex;
  align-items: center;
  padding: 0;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form .value-button {
  display: inline-block;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: px 0;
  background: red;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form .value-button:hover {
  cursor: pointer;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form form #decrease {
  margin-right: -4px;
  border-radius: 7px 0 0 8px;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form form #increase {
  margin-left: -5px;
  border-radius: 0 8px 8px 0;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form form #input-wrap {
  margin: 0px;
  padding: 0px;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .increase-btn form input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 42px;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .price {
  display: flex;
  justify-content: center;
}
.pizza-size .row .info-col .pizza-info .pizza-head .pizza-quantity .price span {
  text-align: center;
}
.pizza-size .choose-size {
  display: flex;
}
.pizza-size .choose-size .small-pizza {
  margin-right: 10px;
  display: flex;
  background-color: #f8f8f8;
  padding: 15px;
  width: 180px;
  border-radius: 10px;
}
.pizza-size .choose-size .small-pizza .sm-img {
  margin-right: 5px;
  width: 38px;
  height: 38px;
}
.pizza-size .choose-size .small-pizza .sm-img img {
  width: 100%;
  filter: grayscale(100%);
}
.pizza-size .choose-size .small-pizza .sm-price h2 {
  margin-bottom: 0 !important;
  font-size: 14px;
  color: #585858;
  font-weight: bold;
  font-family: "Open Sans", sans-serif !important;
}
.pizza-size .choose-size .small-pizza .sm-price h3 {
  font-size: 12px;
  color: #686868;
  background-color: rgba(239, 239, 239, 0.937254902);
}
.pizza-size .choose-pasty {
  display: flex;
}
.pizza-size .choose-pasty .classic-pasty {
  background-image: url(https://s3.eu-west-3.amazonaws.com/ppost/Classic-Crust.png);
  background-repeat: no-repeat;
  background-position: center -30px;
  background-size: cover;
  border: 1px solid #f2f2f2;
  color: black;
  border-radius: 10px;
  margin-left: 10px;
  height: 5em;
  width: 161px;
  text-transform: capitalize;
  position: relative;
}
.pizza-size .choose-pasty .classic-pasty .pasty-img {
  position: absolute;
  top: 0;
  right: 0;
}
.pizza-size .choose-pasty .classic-pasty .title {
  padding-left: 5px;
}
.pizza-size .choose-pasty .classic-pasty .title span {
  font-size: 12px;
}
.pizza-size .choose-ingrident h1 {
  font-size: 20px;
  font-weight: bold;
}
.pizza-size .choose-ingrident #accordion .card {
  border: none !important;
}
.pizza-size .choose-ingrident #accordion .card .card-header {
  background-color: white;
}
.pizza-size .choose-ingrident #accordion .card .card-header h5 {
  position: relative;
}
.pizza-size .choose-ingrident #accordion .card .card-header h5 i {
  border-radius: 50%;
  padding: 3px;
  color: #585858;
  background-color: #d3d3d3;
  position: absolute;
  right: 0;
}
.pizza-size .choose-ingrident #accordion .card .card-header h5 .iactive {
  transform: rotateZ(180deg);
}
.pizza-size .choose-ingrident #accordion .card .check-box .card-body .form-check .form-check-input {
  color: red;
  background-color: red;
}
.pizza-size .choose-ingrident #accordion .card .check-box .card-body .form-check .form-check-label {
  color: red;
}/*# sourceMappingURL=pizza.css.map */